
  <div class= "flex">
    
    <a href="/" id = "title">    <h1 class ="logo"> <span id="music">Music</span> <span id="scape">Scape</span></h1>
        </a>
    </div>

<nav>
    
    <a class="nav" href="/users">Users</a>
    <a class = "nav" href="/users/new">New Users</a>
    <a class = "nav" href="/playlists">Playlists</a>
    <a class="nav" href="/playlists/new">New Playlist</a>
</nav>