
  <div class= "flex">
    
    <a href="/" id = "title">    <h1 class ="logo"> <span id="music">Music</span> <span id="scape">Scape</span></h1>
        </a>
    </div>

<nav>
    
    <a class='users' href="/users">Users</a>
    <a class='sign-up' href="/users/new">New Users</a>
    <a class='playlists' href="/playlists">Playlists</a>
    <a class='new-playlist'href="/playlists/new">New Playlist</a>
</nav>