<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500;600&display=swap" rel="stylesheet">
    <link href = "css/styles.css" rel="stylesheet">
    <title>404</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <DIV id="error">
    <h1 id="404">404 ERROR  </h1>
    <h2> THE PAGE YOU ARE TRYING TO REACH DOES NOT EXIST!</h2>
</DIV>
</body>
</html>