* {
    font-family: 'Commissioner', sans-serif;
    
}
body {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('/images/download.png');
    height: 900px;
    min-width: 1250px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    backdrop-filter: blur(6px);
   
}
.flex {
    display: flex;
}

.logo {
    font-size: 40px;
    color: #2366f7;
    position: relative;
    align-items: flex-start;
}

#music {
    color: black;
    background-color: rgb(243, 243, 139);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-right: 3px;
}

#scape {
    background-color: #2366f7;
    margin-left: -9px;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 2px;
}
a {
    color: white;
    background: #2366f7;
    margin-right: 20px;
    border: 1px solid #2366f7 ;
    border-radius: 8px;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #2366f7;
}
.nav:hover:hover {
    color: #2366f7;
    background: white;
}

#title {
    background: none;
    border: none;
    position: absolute;
    margin-left: 10px;
    padding: 0px;
    line-height: 0px;
    
}

.front {
    border: 2px rgba(255, 255, 255, 0.07) solid;
    width: 65%;
    min-height: 600px;
    min-width: 700px;
    
    margin-left: 17%;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.07);
}

.front h2 {
    z-index: 2;
    color: white;
    font-size: 55px;
    

}



#signup {
    position: relative;
    top: 150px;
    font-size: 50px;
    padding: 10px;
}

nav {
    height: 60px;
    position: relative;
    background: #222222;
    margin: -10px;
    min-width: 1900px;

}

.nav-item {
    position: relative;
    top: 15px;
    font-size: 30px;
    background: none;
    border: none;
    left: -550px;
    border-radius: 0;
   
    
}

#users {
    
    padding-right: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 8px;
    margin-right: 0px;
}

#playlists {
    
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 25px;
    margin-left: 0px;

}

.logout {
    font-size: 30px;
    background: none;
    border: none;
    border-radius: 0;
    color: white;
    margin-left: 127vw;
    top: -25px;
    
    padding-bottom: 15px;
    margin-top: -5px;
    cursor: pointer;
    outline: none;
    padding-right: 5px;
}