* {
    font-family: 'Commissioner', sans-serif;
    margin: 0px;   
}

body {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('/images/background.png');
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-width: 1250px;
    overflow-x: hidden;
}
.flex {
    display: flex;
    position: absolute;
}

.logo {
    font-size: 40px;
    color: #2366f7;
    position: relative;
    align-items: flex-start;
    margin-top: 35px;
}

.list {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    display:block; 
    transition: background-color 0.1s ease-in;

}

.list:hover {
    background-color: rgba(151, 151, 151, 0.5);
}

label {
    display: block;
    font-size: 40px;
    margin-left: 10px;
    
}

select {
    font-size: 30px;
}

.add {
    font-size: 30px;
    border-color: #2366f7;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #2366f7;
    color: white; 
}

form div {
    margin-top: 50px;
    text-align: left;
    margin-left: 10px;
}

.text{
    font-size: 40px;
    border-radius: 5px;
    background-color: black;
    color:white;
}

li {
    text-align: left;
    margin-top: 10px;
    
    margin-right: 20px;
    
}



#music {
    color: black;
    background-color: rgb(243, 243, 139);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#scape {
    background-color: #2366f7;
    margin-left: -9px;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 2px;
}


.nav-item, #title {
    color: white;
    background: #2366f7;
    margin-right: 20px;
    border: 1px solid #2366f7 ;
    border-radius: 8px;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}

li {
    list-style: none;
    display: block;
}

.list-title {
    border-bottom: solid 2px black;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 55px;
}

#title {
    background: none;
    border: none;
    margin-left: 20px;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 0px;
}

.index-front {
    position: relative;
    margin: 0 auto;
    min-height: 600px;
    max-width: 1100px;
    max-width: 1100px;
    margin-top: 40px;
    border: solid rgba(77, 76, 76, 0.5) 5px;
    background-color: white;
    color:black;
  
}

h3 {
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
}

.playlist-edit {
    position: relative;
    left: 30px;
}

.playlist-edit-button {
    position: relative;
    margin-top: 20px;
    font-size: 30px;
    right: 280px;
    border-color: #2366f7;
    border-radius: 10px;
    background-color: #2366f7;
    color: white;
    border-color: white; 
    padding: 12px;
}

.show-form form {
    display: inline;
}

.delete-playlist {
    padding: 15px;
    position: relative;
    left: 200px;
    font-size: 30px;
    font-weight: 700;
    
    border-radius: 12px;
    background-color: rgb(216, 26, 20);
    color: white; 
    border-color: white;

}

.song {
    border:none;
    font-size: 25px;
}

#cancel-song {
    bottom: 135px;
    left: 160px;
}

#made-by {
    position: absolute;
    right: 30px;
    font-size: 20px;
    text-align: right;
    
}

#signup {
    position: relative;
    top: 150px;
    font-size: 50px;
    padding: 10px;
}

nav {
    height: 60px;
    position: relative;
    background: #222222;
    margin: 0px;
    min-width: 1900px;
    

}

.nav-item {
    position: relative;
    top: 15px;
    font-size: 30px;
    background: none;
    border: none;
    left: -545px;
    border-radius: 0;
    max-width: 120px;
    
   
    
}

#users {
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding-right: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 8px;
    
}

#playlists {
    border-right: solid 1px white;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 8px;


}

.song-edit-button {
    position: relative;
    margin-top: 20px;
    font-size: 30px;
    border-color: #2366f7;
    border-radius: 10px;
    background-color: #2366f7;
    color: white;
    border-color: white; 
    padding: 12px;
}