* {
    font-family: 'Commissioner', sans-serif;
    
}
body {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('/images/download.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    backdrop-filter: blur(4px);
   
}
.flex {
    display: flex;
}

.logo {
    font-size: 40px;
    color: #2366f7;
    position: relative;
    align-items: flex-start;
   

}

#music {
    color: black;
    background-color: rgb(243, 243, 139);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#scape {
    background-color: #2366f7;
    margin-left: -9px;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 2px;
}
a {
    color: rgb(243, 243, 139);
    background: #2366f7;
    margin-right: 20px;
    border: 1px solid #2366f7 ;
    border-radius: 8px;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}

#title {
    background: none;
    border: none;
    position: absolute;
    margin-left: 20px;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 0px;
}

.front {
    border: 2px rgba(255, 255, 255, 0.07) solid;
    width: 65%;
    height: 75%;
    margin-left: 17%;
    margin-top: 6%;
    background: rgba(255, 255, 255, 0.07);
}

.front h2 {
    z-index: 2;
    color: black;
}


