* {
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    color: white;
}
body {
    background: grey;
}
.flex {
    display: flex;
}

.logo {
    font-size: 40px;
    color: #2366f7;
    position: relative;
    align-items: flex-start;
   
}

#music {
    color: black;
    background-color: rgb(243, 243, 139);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-right: 3px;
    
}

#scape {
    background-color: #2366f7;
    margin-left: -9px;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 2px;
    
}
.nav-item {
    color: white;
    background: #2366f7;
    margin-right: 20px;
    border: 1px solid #2366f7 ;
    border-radius: 8px;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}

#title {
    background: none;
    border: none;
    position: absolute;
    margin-left: 20px;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 0px;
    
}

.userlist {
    list-style: none;
    margin: 15px;
    position: relative;
    right: 15px;
    transition: all .3s ease-in-out;
    width: 
}
.userlist:hover {
transform: scale(1.5)
}

#userlink {
    text-decoration: none;
    transition: all .3s ease-in-out;
    
    
}

#userlink:hover {
    color: #2366f7;
    transform: scale(1.5);
}