<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500;600&display=swap" rel="stylesheet">
    <link href="/css/playlists.css" rel="stylesheet">
    <title>New Playlist</title>
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="new-front">
        <h1>Add Playlist</h1>
        <form action="/playlists" method="POST">
            <div>
                <label for="name">Name</label>
                <input class="text" type="text" name="name" id="name">
            </div>

            <div>
                <label for="genre">Central Genre</label>
                <input class="text" type="text" name="genre" id="genre">
            </div>

            <div>
                <input class="add" type="submit" value="Add Playlist">
            </div>
            <div>
                <input type="hidden" name="user" id="user" value=<%= loggedIn._id %>>
            </div>

        </form>
    </div>
</body>

</html>