<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <%- include('../partials/nav') %>
</head>
<body>
    
    <h1>New User</h1>

    <form action = '/users' method ="POST">
    <div>
        <label for="name">Name</label>
    

    <input type = "text" id="name" name = "name">
    </div>
    <div>
    <label for="password">Password</label>
    <input type = "text" id="password" name="password">
    </div>
    <div>
    <label for = "artist">Favorite Artist</label>
    
    <input type = "text" id="artist" name="artist">
    </div>
    <div>
    <button type = "submit"> Add User</button>
    </div>
    </form>
</body>
</html>